<div class="row-fluid">
  <span class="btn btn-small btn-info"><strong><%= status.titlecase %> Requests</strong></span>

  <p></p>
  
  <table id="table_report_<%= status %>" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>SlNo</th>
        <th>Name</th>
        <!-- <th class="hidden-480">Designation</th> -->
        <th class="hidden-480">Department</th>
        <th>Date</th>
        <th>Duration</th>
        <th class="hidden-480">Type</th>
        <th>Status</th>
        <th>Action By</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% leave_requests.each_with_index do |leave_request, index| %>
        <% check_data = [1086, 1077, 1095, 1104, 1105, 1107, 1106, 1132, 1115, 1091, 1181, 1180].include?(leave_request.id) %>

        <tr <%= "style='color: red !important;'".html_safe if check_data %> >
          <td><%= index + 1 %></td>
          <td><%= leave_request.user.profile_link %></td>
          <!-- <td class="hidden-480"><%#= leave_request.user.designation.designation_name rescue "" %></td> -->
          <td class="hidden-480"><%= leave_request.user.designation.department.department_name rescue "" %></td>
          <td><%= leave_request.leave_at.strftime("%b %d %Y") %> <%#= leave_request.leave_at.strftime("%d-%m-%Y") %></td>
          <td><%= leave_request.full_day ? "Full Day" : "Half Day" %></td>
          <td class="hidden-480"><%= leave_request.leave_type.leave_type_name rescue ""%></td>
          <td><%= leave_request.status %></td>
          <td><%= leave_request.action_taken_by.name if leave_request.action_taken_by %></td>
          <td>
            <%#= link_to 'Show', leave_request, :class => "btn btn-mini btn-success" %>

            <%#= link_to 'Accept', edit_leave_request_path(leave_request, status: "accepted"), :class => "btn btn-mini btn-info" if can? :update, leave_request %>

            <%#= link_to 'Reject', edit_leave_request_path(leave_request, status: "rejected"), :class => "btn btn-mini btn-info" if can? :update, leave_request %>

            <%= link_to 'Accept', leave_request_path(leave_request, status: "accepted", employee_page: (@employee.user_id if @employee)), method: :put, data: { confirm: 'Are you sure about accepting leave request?' }, :class => "btn btn-mini btn-info" if can? :update, leave_request %>

            <%= link_to 'Reject', leave_request_path(leave_request, status: "rejected", employee_page: (@employee.user_id if @employee)), method: :put, data: { confirm: 'Are you sure about rejecting leave request?' }, :class => "btn btn-mini btn-info" if can? :update, leave_request %>
            
            <%= link_to 'Cancel', leave_request_path(leave_request, employee_page: (@employee.user_id if @employee)), method: :delete, data: { confirm: 'Are you sure about cancelling request?' }, :class => "btn btn-mini btn-danger" if can? :destroy, leave_request %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    $(document).ready(function(){ 
        $('#table_report_<%= status %>').dataTable({
          <% if @admin_user %>
          "sDom": 'T<"clear">lfrtip',
          "oTableTools": {
              "sSwfPath": "/assets/copy_csv_xls_pdf.swf",
              "aButtons": [{"sExtends": "pdf", "mColumns": [0, 1, 2, 3, 4, 5, 6]}]
          },
          <% end %>
          "aoColumns": [null, null, null, null, null, null, null, {"bSearchable": false}, { "bSortable": false }]
        });
    });
</script>

<br />