<p></p>
<% if notice %><p id="notice" class="alert alert-info"><%= notice %></p><% end %>

<div class="row-fluid span8">
	<div class="label label-large label-info arrowed-in arrowed-right">
	    	<b>Leave Type Info</b>
	</div>
	<table class="table table-striped table-bordered table-hover">
		<tbody>
			<tr>
		      	<td class="span2">Leave Type :</td>
		      	<td class="span5"><%= @leave_type.leave_type_name %></td>
		    </tr>
		    <tr>
		      	<td class="span2">Without Pay :</td>
		      	<td class="span5"><%= @leave_type.without_pay %></td>
		    </tr> 
		    <tr>
		      	<td class="span2">Default Count/Month :</td>
		      	<td class="span5"><%= @leave_type.default_count %></td>
		    </tr>
		    <tr>
		      	<td class="span2">Month Forward :</td>
		      	<td class="span5"><%= @leave_type.month_forward %></td>
		    </tr>
		     <tr>
		      	<td class="span2">Year Forward :</td>
		      	<td class="span5"><%= @leave_type.year_forward %></td>
		    </tr>
		</tbody>
	</table>

	<div class="form-actions">
		<%= link_to 'Edit', edit_leave_type_path(@leave_type), :class => "btn btn-small btn-success" %>
		<%= link_to 'Back', leave_types_path, :class => "btn btn-small" %>
	</div>
</div>